/* Element Selector  */
p{
    color:red;
}

/* ID Selector */
#id-selector-demo{
    color:green;
}

.note{
    font-size: 20px;
}

/* Attribute Selector  */
li[value="4"]{
    color:blue;
}

/* Universal Selector */
*{
    color:black;
}